main{
  width: 1092px;
  height: 283px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 101px 89px 157px 99px;
  
}

nav{
  width: 1083px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 71px 99px 101px 98px;
 

  font-family: 'JetBrains Mono', monospace;
  }

  nav img{
    cursor: pointer;
  }



.text{
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  height: auto;
}

h1{
  font-family: 'JetBrains Mono', monospace;
}

h1 span{
  color: #00BFA6;
}

p{
  font-family: 'Open Sans', sans-serif;
}

p span{
  color: #00BFA6;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  color: white;
 }

 ul li a{
  opacity: 1;
  text-decoration: none;
  color: white;
 }

ul li a:hover{
  font-weight: bold;
  opacity: 2;
}


body{
  background: #2C2B3D;
  color: #FFFFFF;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
}


footer{
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 23px;
  }

  footer a{
  text-decoration: none;
  color: white;
  opacity: 1;
  }

  footer a:hover{
    font-weight: bold;
    opacity: 2;

  }

  #line{
  width: 568px;
  height: 0px;
  margin: 0 auto 27px;
  border: 1px solid #00bfa6;
  }


#padlock{
  position: fixed;
  left: 20px;
  bottom: 20px;
  
    
}

.page{
  width: 1280px;
  margin: 0 auto;
}